<a style="cursor: pointer;" class="list-group-item clearfix">
  <div class="pull-left  dropdown-toggle" title='Clique para mais informações' appDropdown>
    <h4 class="list-group-item-heading">
      {{ product.name }}
    </h4>
    <p class="list-group-item-text">R$ {{ product.price }} / {{ product.measure}}
      <span class="glyphicon glyphicon-info-sign"></span>
    </p>
    <div class="info dropdown-menu">
      <span class="pull-right glyphicon glyphicon-remove"></span>
      <p class="list-group-item-text">
        <strong>Nome: </strong>{{ product.name }}
      </p>
      <p class="list-group-item-text">
        <strong>Descrição: </strong>{{ product.description }}
      </p>
      <p class="list-group-item-text">
        <strong>Valor: </strong>R$ {{ product.price }}
      </p>
      <p class="list-group-item-text">
        <strong>Medida (kilo ou unidade): </strong>{{ product.measure}}
      </p>
      <p class="list-group-item-text">
        <strong>Categoria: </strong>
        {{ (product.categoryPath == 'linguicas-tradicionais' ? 'Linguiças Tradicionais' : ( product.categoryPath == 'linguicas-recheadas'
        ? 'Linguiças Recheadas' : ( product.categoryPath == 'derivados-suinos' ? 'Derivados de Suínos' : 'Nenhum cadastrado')))
        }}
      </p>
      <p class="list-group-item-text">
        <strong>Link imagem: </strong>{{ product.img}}
      </p>

    </div>
  </div>
  <span class="pull-right">
    <div class="btn-group">
      <button (click)="onDeleteItem(product)" type="button" class="btn btn-danger">
        Deletar
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </div>
  </span>
</a>
