.info {
  padding: 10px;
  background-color: beige;
  width: 100%;
}

.orderby {
  font-size: 12px;
  cursor: pointer;
  color: darkgrey;
}

.orderby .active {
  color: black;
}
.panel-default > .panel-heading {
  color: white;
  background-color: #af272d;
  border-color: #ddd;
}
