<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">LP Admin</a>
      <label (click)="toggleNavbar()" for="navbar-toggle" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar" [style.background-color]="navBarToggle ? '#dddddd' : 'transparent'">
        <span class="sr-only">Mudar navegação</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </label>
    </div>

    <div class="collapse navbar-collapse " [style.display]="navBarToggle ? 'block' : 'none'">
      <ul class="nav navbar-nav" *ngIf="isAuthenticated()">
        <li routerLinkActive="active">
          <a routerLink="/pedidos">Pedidos</a>
        </li>
        <li routerLinkActive="active"><a routerLink="/usuarios">Usuários</a></li>
        <li routerLinkActive="active"><a routerLink="/produtos">Produtos</a></li>
        <li routerLinkActive="active"><a routerLink="/contatos">Contatos</a>
        <!-- <li routerLinkActive="active"><a routerLink="/categorias">Categorias</a></li>

        <li routerLinkActive="active"><a routerLink="/checkout">Checkout</a></li>
        <li routerLinkActive="active"><a routerLink="/novidades">Novidades</a></li>
        <li routerLinkActive="active"><a routerLink="/estatisticas">Estatísticas</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!isAuthenticated()">
          <li>
            <a routerLink="/entrar">Entrar
              <span class="glyphicon glyphicon-log-in"></span>
            </a>
          </li>
        </ng-template>
        <li>
          <a style="cursor: pointer;" (click)="onLogout()" *ngIf="isAuthenticated()">Sair
            <span class="glyphicon glyphicon-log-out"></span>

          </a>

        </li>
      </ul>
    </div>
  </div>
</nav>
